# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
output
bin
main
cli

# Dependency directories
vendor/

# Config file
*config.yaml
.netrc

# IDE
.idea
.vscode

# Other
*.java
*.pptx
*.pdf
.gitignore
